*{
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  grid-template-areas: 
  'hd'
  'mn'
  'graph'
  'ft';
}

header{
  grid-area: hd;
}

.title{
  font-size: 7vh;
}

main{
  grid-area: mn;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around ;
}

.input-text{
  margin: 1px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
